In [4]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure',figsize=(10,6))
np.set_printoptions(precision=3,suppress=True)

In [5]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
df = pd.read_csv('dane/ex1.csv')

In [7]:
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [8]:
pd.read_table('dane/ex1.csv',sep=',')

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [9]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
pd.read_csv('dane/ex2.csv',header=None)

,0,1,2,3,4
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [11]:
pd.read_csv('dane/ex2.csv',header=None,names=['A','B','C','D','informacja'])

,A,B,C,D,informacja
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [12]:
names=['A','B','C','D','informacja']
pd.read_csv('dane/ex2.csv',names=names,index_col='informacja')

,A,B,C,D
informacja,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [13]:
!cat dane/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed = pd.read_csv('dane/csv_mindex.csv',index_col=['key1','key2'])

In [15]:
parsed

In [16]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [19]:
!cat dane/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [20]:
result = pd.read_csv('dane/ex5.csv')
result

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,two,5,6,NaN,8,world
2,three,9,10,11.0,12,foo

In [22]:
result = pd.read_csv('dane/ex5.csv',na_values=['NULL',])
result

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,two,5,6,NaN,8,world
2,three,9,10,11.0,12,foo

In [23]:
sentinels = {'message':['foo','NA'],'something':['two']}

result = pd.read_csv('dane/ex5.csv',na_values=sentinels)
result

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,NaN,5,6,NaN,8,world
2,three,9,10,11.0,12,NaN

In [24]:
pd.options.display.max_rows=10

In [25]:
result = pd.read_csv('dane/ex6.csv')
result

,one,two,three,four,key
0,0.467976,-0.038649,-0.295344,-1.824726,L
1,-0.358893,1.404453,0.704965,-0.200638,B
2,-0.501840,0.659254,-0.421691,-0.057688,G
3,0.204886,1.074134,1.388361,-0.982404,R
4,0.354628,-0.133116,0.283763,-0.837063,Q
...,...,...,...,...,...
9995,2.311896,-0.417070,-1.409599,-0.515821,L
9996,-0.479893,-0.650419,0.745152,-0.646038,E
9997,0.523331,0.787112,0.486066,1.093156,K
9998,-0.362559,0.598894,-1.843201,0.887292,G
9999,-0.096376,-1.012999,-0.657431,-0.573315,0

In [33]:
result = pd.read_csv('dane/ex6.csv',nrows=5)
nrow = result.iloc[1:3]
nrow

,one,two,three,four,key
1,-0.358893,1.404453,0.704965,-0.200638,B
2,-0.501840,0.659254,-0.421691,-0.057688,G

In [34]:
nrow.to_csv('dane/out51.txt')

In [37]:
srow = result.iloc[[0,2,4]]
srow

,one,two,three,four,key
0,0.467976,-0.038649,-0.295344,-1.824726,L
2,-0.501840,0.659254,-0.421691,-0.057688,G
4,0.354628,-0.133116,0.283763,-0.837063,Q

In [38]:
import json

In [39]:
!cat dane/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [40]:
dataj = pd.read_json('dane/example.json')
dataj

,a,b,c
0,1,2,3
1,4,5,6
2,7,8,9

In [42]:
srow.to_json('dane/sr.json')

In [43]:
!cat dane/sr.json

{"one":{"0":0.4679763002,"2":-0.5018403993,"4":0.3546279145},"two":{"0":-0.0386485396,"2":0.6592537072,"4":-0.1331158523},"three":{"0":-0.295344252,"2":-0.4216906193,"4":0.283762638},"four":{"0":-1.8247262273,"2":-0.0576883018,"4":-0.8370629617},"key":{"0":"L","2":"G","4":"Q"}}

In [44]:
srow.to_json('dane/sr2.json',orient='records')