In [5]:
# Defining the data for the dataframe
data = {
    'Imię': ['Janek', 'Adel', 'Romuael', 'Beel'], 
    'Wiek': [25, 30, 35, 40], 
    'Zawód': ['Nauczyciel', 'Inżynier', 'Lekarz', 'Programista'], 
    'Miasto': ['Warszawa', 'Kraków', 'Poznań', 'Wrocław'],
    'Kraj': ['Polska', 'Polska', 'Polska', 'Polska']
}

# Creating the dataframe
df = pd.DataFrame(data)

# Displaying the dataframe
df

,Imię,Wiek,Zawód,Miasto,Kraj
0,Janek,25,Nauczyciel,Warszawa,Polska
1,Adel,30,Inżynier,Kraków,Polska
2,Romuael,35,Lekarz,Poznań,Polska
3,Beel,40,Programista,Wrocław,Polska